demos/demo-android/GeneSIS_Android.json
{
	"dm": {
		"name": "demo",
		"components": [{
				"_type": "/infra/device",
				"name": "Android",
				"properties": [],
				"id": "17b95a6e-6bc7-4bdb-be7c-a5997676eefe",
				"provided_execution_port": [{
						"name": "376b8da9-23f3-477a-848e-d7ec12fbab59"
					}
				],
				"ip": "192.168.43.1",
				"port": ["8022"],
				"credentials": {
					"username": "ubuntu",
					"password": "ubuntu",
					"sshkey": "",
					"agent": "pageant"
				},
				"monitoring_agent": "none",
				"physical_port": "",
				"device_type": "",
				"isLocal": false
			}, {
				"_type": "/internal",
				"name": "NodeRED",
				"properties": [],
				"id": "b27a61d3-a88d-4c87-a101-4fb10f0020ee",
				"provided_execution_port": [{
						"name": "c4252db7-2353-4ffc-b6e2-d7c6647998aa"
					}
				],
				"docker_resource": {},
				"ssh_resource": {
					"name": "57d6cdf6-c884-41d6-a052-871be41d3717",
					"startCommand": "nohup node-red &> tmp.out &",
					"downloadCommand": "",
					"installCommand": "",
					"configureCommand": "",
					"stopCommand": "pkill node-red",
					"credentials": {
						"username": "ubuntu",
						"password": "ubuntu",
						"sshkey": "",
						"agent": "pageant"
					}
				},
				"ansible_resource": {},
				"required_execution_port": {
					"name": "46e4fac5-efe4-4c1a-999a-4276038fbdfa",
					"needDeployer": false
				},
				"provided_communication_port": [{
						"name": "cce212fd-8db2-4805-95d3-a7e831951a73",
						"port_number": "1880"
					}
				],
				"required_communication_port": [{
						"name": "8bb0ca23-3d7e-4f40-bc1e-9bae206bcf85",
						"port_number": "80",
						"isMandatory": false
					}
				]
			}, {
				"_type": "/internal/node_red_flow",
				"name": "NodeRED_flow",
				"properties": [],
				"id": "c56874c4-5756-427e-8084-a732e19c33ce",
				"provided_execution_port": [{
						"name": "cd5c420b-ec1c-4c5c-bbe4-0c8c059ba249"
					}
				],
				"docker_resource": {},
				"ssh_resource": {
					"name": "75dd139f-870a-47b5-8911-1647c7c9ed02",
					"startCommand": "",
					"downloadCommand": "",
					"installCommand": "",
					"configureCommand": "",
					"stopCommand": "",
					"credentials": {
						"username": "ubuntu",
						"password": "",
						"sshkey": "",
						"agent": ""
					}
				},
				"ansible_resource": {},
				"required_execution_port": {
					"name": "c8c158cb-c93a-4e6d-9722-2c32cce79b99",
					"needDeployer": false
				},
				"provided_communication_port": [{
						"name": "93c9a82f-a4fb-4ec8-a08b-d0fd5068b557",
						"port_number": "80"
					}
				],
				"required_communication_port": [{
						"name": "d411c0b3-c049-4dd8-b521-e41d011d3d1e",
						"port_number": "1880",
						"isMandatory": false
					}
				],
				"nr_flow": [{
						"id": "6ce6e39a.e6af9c",
						"type": "tab",
						"label": "Flow 1",
						"disabled": false,
						"info": ""
					}, {
						"id": "86457344.50e6b",
						"type": "inject",
						"z": "6ce6e39a.e6af9c",
						"name": "",
						"topic": "",
						"payload": "",
						"payloadType": "none",
						"repeat": "",
						"crontab": "",
						"once": false,
						"x": 230,
						"y": 180,
						"wires": [["9a142026.fa47f"]]
					}, {
						"id": "9a142026.fa47f",
						"type": "function",
						"z": "6ce6e39a.e6af9c",
						"name": "add new layer",
						"func": "msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = { maxZoom: 19, attribution: '&copy; OpenStreetMap'};\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;",
						"outputs": 1,
						"noerr": 0,
						"x": 460,
						"y": 180,
						"wires": [["c643e022.1816c"]]
					}, {
						"id": "c643e022.1816c",
						"type": "worldmap",
						"z": "6ce6e39a.e6af9c",
						"name": "",
						"x": 790,
						"y": 220,
						"wires": []
					}, {
						"id": "2998e233.4ba64e",
						"type": "function",
						"z": "6ce6e39a.e6af9c",
						"name": "USGS Quake monitor csv re-parse",
						"func": "msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;",
						"outputs": 1,
						"noerr": 0,
						"x": 580,
						"y": 320,
						"wires": [["c643e022.1816c"]]
					}, {
						"id": "e72c5732.9fa198",
						"type": "function",
						"z": "6ce6e39a.e6af9c",
						"name": "move and zoom",
						"func": "msg.payload = { command:{layer:\"Esri Terrain\",lat:0,lon:0,zoom:3} };\nreturn msg;",
						"outputs": 1,
						"noerr": 0,
						"x": 460,
						"y": 220,
						"wires": [["c643e022.1816c"]]
					}, {
						"id": "12317723.589249",
						"type": "csv",
						"z": "6ce6e39a.e6af9c",
						"name": "",
						"sep": ",",
						"hdrin": true,
						"hdrout": "",
						"multi": "one",
						"ret": "\\n",
						"temp": "",
						"x": 430,
						"y": 260,
						"wires": [["2998e233.4ba64e"]]
					}, {
						"id": "10e5e5f0.8daeaa",
						"type": "inject",
						"z": "6ce6e39a.e6af9c",
						"name": "",
						"topic": "",
						"payload": "",
						"payloadType": "none",
						"repeat": "",
						"crontab": "",
						"once": false,
						"x": 230,
						"y": 220,
						"wires": [["e72c5732.9fa198"]]
					}, {
						"id": "b6917d83.d1bac",
						"type": "http request",
						"z": "6ce6e39a.e6af9c",
						"name": "",
						"method": "GET",
						"url": "http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv",
						"x": 310,
						"y": 320,
						"wires": [["12317723.589249"]]
					}, {
						"id": "3842171.4d487e8",
						"type": "inject",
						"z": "6ce6e39a.e6af9c",
						"name": "Quakes",
						"topic": "",
						"payload": "",
						"payloadType": "none",
						"repeat": "900",
						"crontab": "",
						"once": false,
						"x": 240,
						"y": 260,
						"wires": [["b6917d83.d1bac"]]
					}
				],
				"path_flow": "",
				"packages": ["node-red-contrib-web-worldmap"]
			}
		],
		"links": [],
		"containments": [{
				"name": "a",
				"properties": [],
				"src": "/Android/376b8da9-23f3-477a-848e-d7ec12fbab59",
				"target": "/NodeRED/46e4fac5-efe4-4c1a-999a-4276038fbdfa"
			}, {
				"name": "v",
				"properties": [],
				"src": "/NodeRED/c4252db7-2353-4ffc-b6e2-d7c6647998aa",
				"target": "/NodeRED_flow/c8c158cb-c93a-4e6d-9722-2c32cce79b99"
			}
		],
		"type_registry": []
	},
	"graph": {
		"elements": {
			"nodes": [{
					"data": {
						"id": "Android"
					},
					"position": {
						"x": 375.75562351180065,
						"y": 190.8749568752817
					},
					"group": "nodes",
					"removed": false,
					"selected": false,
					"selectable": true,
					"locked": false,
					"grabbable": true,
					"classes": "device"
				}, {
					"data": {
						"id": "NodeRED",
						"parent": "Android"
					},
					"position": {
						"x": 375.75562351180065,
						"y": 190.8749568752817
					},
					"group": "nodes",
					"removed": false,
					"selected": false,
					"selectable": true,
					"locked": false,
					"grabbable": true,
					"classes": ""
				}, {
					"data": {
						"id": "NodeRED_flow",
						"parent": "NodeRED"
					},
					"position": {
						"x": 375.75562351180065,
						"y": 190.8749568752817
					},
					"group": "nodes",
					"removed": false,
					"selected": false,
					"selectable": true,
					"locked": false,
					"grabbable": true,
					"classes": ""
				}
			]
		},
		"style": [{
				"selector": "node",
				"style": {
					"label": "data(id)",
					"background-fit": "contain",
					"background-image-opacity": "0.3",
					"text-valign": "center",
					"text-halign": "center",
					"font-size": "4px",
					"font-weight": "bold"
				}
			}, {
				"selector": "node.container",
				"style": {
					"padding": "10px",
					"text-valign": "top",
					"text-halign": "center",
					"background-color": "#DDD",
					"font-size": "8px",
					"font-weight": "normal",
					"shape": "rectangle",
					"background-image": "./img/docker-official.svg"
				}
			}, {
				"selector": "edge",
				"style": {
					"curve-style": "bezier",
					"target-arrow-shape": "triangle"
				}
			}, {
				"selector": "edge.control",
				"style": {
					"curve-style": "bezier",
					"target-arrow-shape": "circle"
				}
			}, {
				"selector": ":selected",
				"style": {
					"background-color": "black",
					"line-color": "black",
					"target-arrow-color": "black",
					"source-arrow-color": "black"
				}
			}, {
				"selector": "node.questionable",
				"style": {
					"border-color": "#A33",
					"background-color": "#B55",
					"shape": "roundrectangle"
				}
			}, {
				"selector": "node.node_red",
				"style": {
					"background-image": "./img/node-red-256.png"
				}
			}, {
				"selector": "node.ansible",
				"style": {
					"background-image": "./img/ansible.png"
				}
			}, {
				"selector": "node.orion",
				"style": {
					"background-color": "#ADD8E6",
					"background-image": "./img/fiware_logo.png"
				}
			}, {
				"selector": "node.thingml",
				"style": {
					"background-color": "#ADD8E6",
					"background-image": "./img/thingml_short.png"
				}
			}, {
				"selector": "node.device",
				"style": {
					"padding": "10px",
					"text-valign": "top",
					"text-halign": "center",
					"background-color": "#DDD",
					"font-size": "8px",
					"font-weight": "normal",
					"shape": "rectangle",
					"background-image": "./img/device.png"
				}
			}, {
				"selector": "node.vm",
				"style": {
					"padding": "10px",
					"text-valign": "top",
					"text-halign": "center",
					"background-color": "#DDD",
					"font-size": "8px",
					"font-weight": "normal",
					"shape": "rectangle",
					"background-image": "./img/server_cloud.png"
				}
			}
		],
		"zoomingEnabled": true,
		"userZoomingEnabled": true,
		"zoom": 3.3728730865886867,
		"minZoom": 0.4,
		"maxZoom": 6,
		"panningEnabled": true,
		"userPanningEnabled": true,
		"pan": {
			"x": -904.910156721374,
			"y": -389.10270900619196
		},
		"boxSelectionEnabled": false,
		"renderer": {
			"name": "canvas"
		}
	}
}
