demos/demo-pizero/Application_Device.json
[{
    "id": "eac2018f.030101",
    "type": "rpi-gpio out",
    "z": "769fbfe4.77751",
    "name": "D 16",
    "pin": "36",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 610,
    "y": 140,
    "wires": []
  }, {
    "id": "eac2018f.040101",
    "type": "rpi-gpio in",
    "z": "769fbfe4.77751",
    "name": "D 17",
    "pin": "11",
    "intype": "tri",
    "debounce": "25",
    "read": true,
    "x": 90,
    "y": 80,
    "wires": [["eac2018f.180101"]]
  }, {
    "id": "eac2018f.050101",
    "type": "grove-chainable-rgb-led",
    "z": "769fbfe4.77751",
    "name": "",
    "pin": "5",
    "x": 560,
    "y": 200,
    "wires": []
  }, {
    "id": "eac2018f.070101",
    "type": "mqtt in",
    "z": "769fbfe4.77751",
    "name": "",
    "topic": "/grove/button_led",
    "qos": "2",
    "datatype": "auto",
    "broker": "eac2018f.020101",
    "x": 130,
    "y": 140,
    "wires": [["eac2018f.150101"]]
  }, {
    "id": "eac2018f.080101",
    "type": "mqtt in",
    "z": "769fbfe4.77751",
    "name": "",
    "topic": "/grove/rgb_led",
    "qos": "2",
    "datatype": "auto",
    "broker": "eac2018f.020101",
    "x": 120,
    "y": 200,
    "wires": [["eac2018f.170101", "1bb88974.8fe267"]]
  }, {
    "id": "eac2018f.060101",
    "type": "mqtt out",
    "z": "769fbfe4.77751",
    "name": "",
    "topic": "/grove/button",
    "qos": "",
    "retain": "",
    "broker": "eac2018f.020101",
    "x": 580,
    "y": 80,
    "wires": []
  }, {
    "id": "eac2018f.090101",
    "type": "mosca in",
    "z": "769fbfe4.77751",
    "mqtt_port": 1883,
    "mqtt_ws_port": 8080,
    "name": "",
    "username": "",
    "password": "",
    "dburl": "",
    "x": 110,
    "y": 40,
    "wires": [[]]
  }, {
    "id": "eac2018f.100101",
    "type": "grove-4-digit-display",
    "z": "769fbfe4.77751",
    "name": "",
    "pin": "22",
    "x": 580,
    "y": 260,
    "wires": []
  }, {
    "id": "eac2018f.110101",
    "type": "mqtt in",
    "z": "769fbfe4.77751",
    "name": "",
    "topic": "/grove/4digit_display",
    "qos": "2",
    "datatype": "auto",
    "broker": "eac2018f.020101",
    "x": 130,
    "y": 260,
    "wires": [["eac2018f.160101"]]
  }, {
    "id": "eac2018f.120101",
    "type": "inject",
    "z": "769fbfe4.77751",
    "name": "Startup Inject",
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "x": 120,
    "y": 420,
    "wires": [["eac2018f.130101", "eac2018f.200101", "eac2018f.220101", "eac2018f.230101"]]
  }, {
    "id": "eac2018f.130101",
    "type": "trigger",
    "z": "769fbfe4.77751",
    "op1": " 101",
    "op2": "    ",
    "op1type": "str",
    "op2type": "str",
    "duration": "5",
    "extend": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "name": "",
    "x": 320,
    "y": 500,
    "wires": [["eac2018f.140101"]]
  }, {
    "id": "eac2018f.140101",
    "type": "grove-4-digit-display",
    "z": "769fbfe4.77751",
    "name": "",
    "pin": "22",
    "x": 500,
    "y": 500,
    "wires": []
  }, {
    "id": "eac2018f.150101",
    "type": "function",
    "z": "769fbfe4.77751",
    "name": "Store ButtonLed state",
    "func": "flow.set('ButtonLed', msg.payload);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 140,
    "wires": [["eac2018f.030101"]]
  }, {
    "id": "eac2018f.160101",
    "type": "function",
    "z": "769fbfe4.77751",
    "name": "Store Display state",
    "func": "try {\n    val = Number(msg.payload);\n} catch (error) {\n    val = msg.payload;\n}\n\nif (Number.isInteger(val)) {\n    if (val > 9999) {\n        val = 0\n    }\n    if (val === 0) {\n        strval = \"    \";\n    } else if (val < 10) {\n        strval = \"   \" + val;\n    } else if (val < 100) {\n        strval = \"  \" + val;\n    } else if (val < 1000) {\n        strval = \" \" + val;\n    } else {\n        strval = val;\n    }\n    flow.set('Display', val);\n    msg.payload = strval;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 260,
    "wires": [["eac2018f.100101"]]
  }, {
    "id": "eac2018f.170101",
    "type": "function",
    "z": "769fbfe4.77751",
    "name": "Store RGBLED state",
    "func": "if (msg.payload === \"\") return null;\non = -1;\ntry {\n    msg.payload = JSON.parse(msg.payload)\n    on = Number(msg.payload.on)\n    val = Number(msg.payload.val);\n    flow.set('RGBLed', {'on': on, 'val': val});\n} catch (error) {\n    val = msg.payload;\n}\n\nif (on === 0) {\n    msg.payload = \"rgb(0, 0, 0)\";\n} else if (on === 1) {\n    if (val === -1) {\n        msg.payload = \"rgb(255, 255, 255)\";\n    } else if (Number.isInteger(val)) {\n        val = val % 360;\n        msg.payload = \"hsv(\" + val + \",100%, 50%)\";\n    } else {\n        return null;\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 200,
    "wires": [["eac2018f.050101", "43f6c22c.8c8e5c"]]
  }, {
    "id": "eac2018f.180101",
    "type": "function",
    "z": "769fbfe4.77751",
    "name": "Emit Sensors/Actuators states",
    "func": "buttonLed = flow.get('ButtonLed') || 0;\nrgbLed = flow.get('RGBLed') || {'on': 0, 'val': -1};\ndisplay = flow.get('Display') || 0;\nbutton = msg.payload;\n\nmsg.payload = {\n    \"button\": button,\n    \"buttonLed\": buttonLed,\n    \"rgbLed\": rgbLed,\n    \"display\": display\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 80,
    "wires": [["eac2018f.060101"]]
  }, {
    "id": "eac2018f.190101",
    "type": "comment",
    "z": "769fbfe4.77751",
    "name": "Init Phase",
    "info": "",
    "x": 80,
    "y": 360,
    "wires": []
  }, {
    "id": "eac2018f.200101",
    "type": "function",
    "z": "769fbfe4.77751",
    "name": "Reset flow variables",
    "func": "flow.set('ButtonLed', 0);\nflow.set(\"RGBLed\", {'on': 0, 'val': -1});\nflow.set(\"Display\", 0);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 380,
    "wires": [[]]
  }, {
    "id": "eac2018f.210101",
    "type": "grove-chainable-rgb-led",
    "z": "769fbfe4.77751",
    "name": "",
    "pin": "5",
    "x": 520,
    "y": 460,
    "wires": []
  }, {
    "id": "eac2018f.220101",
    "type": "rpi-gpio out",
    "z": "769fbfe4.77751",
    "name": "D 16",
    "pin": "36",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 470,
    "y": 420,
    "wires": []
  }, {
    "id": "eac2018f.230101",
    "type": "function",
    "z": "769fbfe4.77751",
    "name": "Switch off",
    "func": "msg.payload = \"rgb(0,0,0)\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 320,
    "y": 460,
    "wires": [["eac2018f.210101"]]
  }, {
    "id": "1bb88974.8fe267",
    "type": "debug",
    "z": "769fbfe4.77751",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 420,
    "y": 320,
    "wires": []
  }, {
    "id": "43f6c22c.8c8e5c",
    "type": "debug",
    "z": "769fbfe4.77751",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 600,
    "y": 340,
    "wires": []
  }, {
    "id": "eac2018f.020101",
    "type": "mqtt-broker",
    "z": "eac2018f.010101",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]
