demos/demo-pizero/Test_Application _Device.json
[{
    "id": "839154d9.c51528",
    "type": "tab",
    "label": "Test flow",
    "disabled": false,
    "info": ""
  }, {
    "id": "f9424a92.fff3c",
    "type": "inject",
    "z": "839154d9.c51528",
    "name": "Reset",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 180,
    "wires": [["f50aa5e9.fbd648", "42eec5fc.c7c614"]]
  }, {
    "id": "27243ee9.342cd2",
    "type": "trigger",
    "z": "839154d9.c51528",
    "op1": "0",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "-150",
    "extend": false,
    "units": "ms",
    "reset": "reset",
    "bytopic": "all",
    "name": "",
    "x": 320,
    "y": 60,
    "wires": [["3de7cba0.6a3b2c", "5df49844.fe47d"]]
  }, {
    "id": "f50aa5e9.fbd648",
    "type": "function",
    "z": "839154d9.c51528",
    "name": "Swtich Off",
    "func": "msg.payload = \"rgb(0,0,0)\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 280,
    "y": 160,
    "wires": [["1895862c.996742"]]
  }, {
    "id": "42eec5fc.c7c614",
    "type": "function",
    "z": "839154d9.c51528",
    "name": "Erase Display",
    "func": "msg.payload = \"    \";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 200,
    "wires": [["7e7de9b2.c7eac"]]
  }, {
    "id": "58571364.efe8fc",
    "type": "inject",
    "z": "839154d9.c51528",
    "name": "Start",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 60,
    "wires": [["27243ee9.342cd2"]]
  }, {
    "id": "1895862c.996742",
    "type": "mqtt out",
    "z": "839154d9.c51528",
    "name": "RpiZ 101 RGB",
    "topic": "/grove/rgb_led",
    "qos": "",
    "retain": "",
    "broker": "61276ed0.05bf98",
    "x": 680,
    "y": 60,
    "wires": []
  }, {
    "id": "7e7de9b2.c7eac",
    "type": "mqtt out",
    "z": "839154d9.c51528",
    "name": "RpiZ 101 Display",
    "topic": "/grove/4digit_display",
    "qos": "",
    "retain": "",
    "broker": "61276ed0.05bf98",
    "x": 690,
    "y": 180,
    "wires": []
  }, {
    "id": "3de7cba0.6a3b2c",
    "type": "function",
    "z": "839154d9.c51528",
    "name": "Incr color",
    "func": "var val = context.get('color101') || 0;\nif (msg.payload == \"0\") {\n    val += 10;\n    if (val >= 360) {\n        val = 0;\n    }\n    context.set('color101', val);\n    msg.payload = \"hsv(\" + val + \",100%, 50%)\"\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 500,
    "y": 60,
    "wires": [["1895862c.996742"]]
  }, {
    "id": "5df49844.fe47d",
    "type": "function",
    "z": "839154d9.c51528",
    "name": "Incr counter",
    "func": "var val=context.get('count101') || 0;\nif (msg.payload == \"0\") {\n    val += 1;\n    if (val > 9999) {\n        val = 0\n    }\n    context.set('count101', val);\n}\nif (val < 10) {\n    strval = \"   \" + val;\n} else if (val < 100) {\n    strval = \"  \" + val;\n} else if (val < 1000) {\n    strval = \" \" + val;\n} else {\n    strval = val;\n}\n\nmsg.payload = strval;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 490,
    "y": 140,
    "wires": [["7e7de9b2.c7eac"]]
  }, {
    "id": "ef83f352.efc0f",
    "type": "inject",
    "z": "839154d9.c51528",
    "name": "Stop",
    "topic": "",
    "payload": "reset",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 120,
    "wires": [["27243ee9.342cd2"]]
  }, {
    "id": "61276ed0.05bf98",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "192.168.43.101",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]
