demos/demo-pizero/Testing_Functionalities.json
[{
		"id": "fef3f35d.a0898",
		"type": "tab",
		"label": "Flow 1",
		"disabled": false,
		"info": ""
	}, {
		"id": "4abdb631.4664d",
		"type": "rpi-gpio out",
		"z": "fef3f35d.a0898",
		"name": "D 16",
		"pin": "36",
		"set": true,
		"level": "0",
		"freq": "",
		"out": "out",
		"x": 270,
		"y": 200,
		"wires": []
	}, {
		"id": "91d1f29.559161",
		"type": "inject",
		"z": "fef3f35d.a0898",
		"name": "",
		"topic": "",
		"payload": "true",
		"payloadType": "bool",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 110,
		"y": 180,
		"wires": [["4abdb631.4664d"]]
	}, {
		"id": "b978115f.f5b848",
		"type": "rpi-gpio in",
		"z": "fef3f35d.a0898",
		"name": "D 17",
		"pin": "11",
		"intype": "tri",
		"debounce": "25",
		"read": true,
		"x": 90,
		"y": 80,
		"wires": [["4f041980.5b4788"]]
	}, {
		"id": "4f041980.5b4788",
		"type": "debug",
		"z": "fef3f35d.a0898",
		"name": "",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 290,
		"y": 80,
		"wires": []
	}, {
		"id": "64e0956c.1e942c",
		"type": "inject",
		"z": "fef3f35d.a0898",
		"name": "",
		"topic": "",
		"payload": "false",
		"payloadType": "bool",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 110,
		"y": 220,
		"wires": [["4abdb631.4664d"]]
	}, {
		"id": "d8c07f3a.66ac2",
		"type": "comment",
		"z": "fef3f35d.a0898",
		"name": "Button press",
		"info": "",
		"x": 90,
		"y": 40,
		"wires": []
	}, {
		"id": "4ebdb9fd.50922",
		"type": "comment",
		"z": "fef3f35d.a0898",
		"name": "Button LED",
		"info": "",
		"x": 90,
		"y": 140,
		"wires": []
	}, {
		"id": "84c5424c.6f2088",
		"type": "ui_colour_picker",
		"z": "fef3f35d.a0898",
		"name": "",
		"label": "",
		"group": "e24af629.8e73d",
		"format": "hsv",
		"outformat": "string",
		"showSwatch": true,
		"showPicker": false,
		"showValue": false,
		"showHue": false,
		"showAlpha": false,
		"showLightness": true,
		"square": "false",
		"dynOutput": "false",
		"order": 0,
		"width": 0,
		"height": 0,
		"passthru": true,
		"topic": "",
		"x": 110,
		"y": 380,
		"wires": [["20a3afed.11d988"]]
	}, {
		"id": "20a3afed.11d988",
		"type": "grove-chainable-rgb-led",
		"z": "fef3f35d.a0898",
		"name": "",
		"pin": "5",
		"x": 320,
		"y": 340,
		"wires": []
	}, {
		"id": "585093f6.eda79c",
		"type": "comment",
		"z": "fef3f35d.a0898",
		"name": "Chainable RGB Led",
		"info": "",
		"x": 110,
		"y": 280,
		"wires": []
	}, {
		"id": "2c1ac0f.f2e1ac",
		"type": "rpi-gpio out",
		"z": "fef3f35d.a0898",
		"name": "PWM 12",
		"pin": "32",
		"set": "",
		"level": "0",
		"freq": "1",
		"out": "pwm",
		"x": 280,
		"y": 500,
		"wires": []
	}, {
		"id": "7ecf957f.832184",
		"type": "inject",
		"z": "fef3f35d.a0898",
		"name": "",
		"topic": "",
		"payload": "rgb(0, 0, 0)",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 110,
		"y": 320,
		"wires": [["20a3afed.11d988"]]
	}, {
		"id": "c386278d.2337a8",
		"type": "inject",
		"z": "fef3f35d.a0898",
		"name": "",
		"topic": "",
		"payload": "true",
		"payloadType": "bool",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 110,
		"y": 480,
		"wires": [["2c1ac0f.f2e1ac"]]
	}, {
		"id": "f3ebc443.ed07a8",
		"type": "inject",
		"z": "fef3f35d.a0898",
		"name": "",
		"topic": "",
		"payload": "false",
		"payloadType": "bool",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 110,
		"y": 520,
		"wires": [["2c1ac0f.f2e1ac"]]
	}, {
		"id": "2b9e2f72.01b4c8",
		"type": "comment",
		"z": "fef3f35d.a0898",
		"name": "Blinking PWM Led",
		"info": "",
		"x": 110,
		"y": 440,
		"wires": []
	}, {
		"id": "592a90df.bbd18",
		"type": "grove-analog-sensor",
		"z": "fef3f35d.a0898",
		"name": "Rotary Angle Sensor",
		"pin": "0",
		"x": 320,
		"y": 620,
		"wires": [["eaa8304d.c5ca38"]]
	}, {
		"id": "eaa8304d.c5ca38",
		"type": "debug",
		"z": "fef3f35d.a0898",
		"name": "Rotary Angle value",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"x": 570,
		"y": 620,
		"wires": []
	}, {
		"id": "851f49a.42eb838",
		"type": "inject",
		"z": "fef3f35d.a0898",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "1",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 130,
		"y": 620,
		"wires": [["592a90df.bbd18"]]
	}, {
		"id": "28e01427.5e7a84",
		"type": "comment",
		"z": "fef3f35d.a0898",
		"name": "Analog Sensor",
		"info": "",
		"x": 100,
		"y": 580,
		"wires": []
	}, {
		"id": "c3cbbd52.4bcab",
		"type": "grove-analog-sensor",
		"z": "fef3f35d.a0898",
		"name": "Light Sensor",
		"pin": "2",
		"x": 290,
		"y": 680,
		"wires": [["a66c17c8.2994d8"]]
	}, {
		"id": "a66c17c8.2994d8",
		"type": "debug",
		"z": "fef3f35d.a0898",
		"name": "Rotary Angle value",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"x": 570,
		"y": 680,
		"wires": []
	}, {
		"id": "6c5cdc82.b007dc",
		"type": "inject",
		"z": "fef3f35d.a0898",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "1",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 130,
		"y": 680,
		"wires": [["c3cbbd52.4bcab"]]
	}, {
		"id": "e24af629.8e73d",
		"type": "ui_group",
		"z": "",
		"name": "Default",
		"tab": "b8fdc670.b079b8",
		"disp": true,
		"width": "6",
		"collapse": false
	}, {
		"id": "b8fdc670.b079b8",
		"type": "ui_tab",
		"z": "",
		"name": "Home",
		"icon": "dashboard",
		"disabled": false,
		"hidden": false
	}
]
