docs/tutorials/2.node-red-env/flow.json
[{
		"id": "b4715311.09c35",
		"type": "inject",
		"z": "d6e14d43.87658",
		"name": "Application 2",
		"topic": "",
		"payload": "true",
		"payloadType": "bool",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 390,
		"y": 320,
		"wires": [["8347d7c4.592d68"]]
	}, {
		"id": "d6d88f10.f6fa2",
		"type": "inject",
		"z": "d6e14d43.87658",
		"name": "Application 1",
		"topic": "",
		"payload": "true",
		"payloadType": "bool",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 390,
		"y": 200,
		"wires": [["45d11421.56fb1c"]]
	}, {
		"id": "8347d7c4.592d68",
		"type": "function",
		"z": "d6e14d43.87658",
		"name": "Application 2",
		"func": "\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 670,
		"y": 320,
		"wires": [["c4aabccf.9a79d"]]
	}, {
		"id": "45d11421.56fb1c",
		"type": "function",
		"z": "d6e14d43.87658",
		"name": "Application 1",
		"func": "\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 660,
		"y": 200,
		"wires": [["fa859229.d67e"]]
	}, {
		"id": "fa859229.d67e",
		"type": "debug",
		"z": "d6e14d43.87658",
		"name": "Actuator 1",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"x": 930,
		"y": 200,
		"wires": []
	}, {
		"id": "c4aabccf.9a79d",
		"type": "debug",
		"z": "d6e14d43.87658",
		"name": "Actuator 2",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"x": 930,
		"y": 320,
		"wires": []
	}
]
