docs/tutorials/1.node-red/acm_model.json
[{
		"id": "b4715311.09c35",
		"type": "inject",
		"z": "d6e14d43.87658",
		"name": "Application 2",
		"topic": "",
		"payload": "true",
		"payloadType": "bool",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 370,
		"y": 180,
		"wires": [["8347d7c4.592d68"]]
	}, {
		"id": "d6d88f10.f6fa2",
		"type": "inject",
		"z": "d6e14d43.87658",
		"name": "Application 1",
		"topic": "",
		"payload": "true",
		"payloadType": "bool",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 350,
		"y": 320,
		"wires": [["45d11421.56fb1c"]]
	}, {
		"id": "8347d7c4.592d68",
		"type": "function",
		"z": "d6e14d43.87658",
		"name": "Application 2",
		"func": "\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 580,
		"y": 200,
		"wires": [["1-tag-8347d7c4.592d68"]]
	}, {
		"id": "45d11421.56fb1c",
		"type": "function",
		"z": "d6e14d43.87658",
		"name": "Application 1",
		"func": "\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 600,
		"y": 340,
		"wires": [["1-tag-45d11421.56fb1c"]]
	}, {
		"id": "fa859229.d67e",
		"type": "debug",
		"z": "d6e14d43.87658",
		"name": "Actuator 1",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"x": 1030,
		"y": 280,
		"wires": [[]]
	}, {
		"id": "abbc70da.a9e45",
		"type": "function",
		"z": "d6e14d43.87658",
		"name": "Application 3",
		"func": "\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 830,
		"y": 280,
		"wires": [[1000]]
	}, {
		"id": 1000,
		"name": "monitor 0",
		"type": "xml",
		"z": "d6e14d43.87658",
		"x": 1020,
		"y": 270,
		"property": "payload",
		"attr": "txt",
		"chr": "",
		"wires": [["fa859229.d67e"]]
	}, {
		"id": 1,
		"name": "ACM 1",
		"type": "template",
		"z": "d6e14d43.87658",
		"x": 820,
		"y": 270,
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "This is the payload: {{payload}} !",
		"output": "str",
		"wires": [["abbc70da.a9e45"]]
	}, {
		"id": "1_sync",
		"name": "ACM Sync 1",
		"type": "template",
		"z": "d6e14d43.87658",
		"x": 740,
		"y": 270,
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "This is the payload: {{payload}} !",
		"output": "str",
		"wires": [[1]]
	}, {
		"id": "1-tag-8347d7c4.592d68",
		"name": "ACM tag 8347d7c4.592d68",
		"type": "template",
		"z": "d6e14d43.87658",
		"x": 660,
		"y": 200,
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "This is the payload: {{payload}} !",
		"output": "str",
		"wires": [["1_sync"]]
	}, {
		"id": "1-tag-45d11421.56fb1c",
		"name": "ACM tag 45d11421.56fb1c",
		"type": "template",
		"z": "d6e14d43.87658",
		"x": 680,
		"y": 340,
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "This is the payload: {{payload}} !",
		"output": "str",
		"wires": [["1_sync"]]
	}
]
