demos/demo-d2.2/indirect/GeneSIS Apps 2Levels.json
{
    "dm": {
        "name": "demo",
        "components": [{
                "_type": "/internal/node_red",
                "name": "Node-RED",
                "properties": [],
                "id": "5f84f73b-244b-4ee2-aaee-0bda2920b9a8",
                "provided_execution_port": [{
                        "name": "f5657b0e-3270-4d0c-8486-a918e0d96b49"
                    }
                ],
                "docker_resource": {
                    "name": "51040341-7c19-4884-a4ff-a2969d0055fb",
                    "image": "nicolasferry/multiarch-node-red-thingml:latest",
                    "command": "",
                    "links": [],
                    "port_bindings": {
                        "1880": "1880"
                    },
                    "devices": {
                        "PathOnHost": "",
                        "PathInContainer": "",
                        "CgroupPermissions": "rwm"
                    }
                },
                "ssh_resource": {
                    "name": "367f8a16-d61a-4870-bd9f-e4c6845840df",
                    "startCommand": "",
                    "downloadCommand": "",
                    "installCommand": "",
                    "configureCommand": "",
                    "credentials": {
                        "username": "ubuntu",
                        "password": "ubuntu",
                        "sshkey": ""
                    }
                },
                "ansible_resource": {
                    "name": "3e7ac7da-9129-4263-a2cf-e0e7d34ee52f",
                    "playbook_path": "",
                    "playbook_host": "",
                    "credentials": {
                        "username": "ubuntu",
                        "password": "ubuntu",
                        "sshkey": ""
                    }
                },
                "required_execution_port": {
                    "name": "demandDocker",
                    "needDeployer": false
                },
                "provided_communication_port": [{
                        "name": "690a34ad-9cc2-452b-8d31-9851ac95ab98",
                        "port_number": "1880"
                    }
                ],
                "required_communication_port": [{
                        "name": "9dae59fa-be42-4c67-82cf-221a1e4fd9fe",
                        "port_number": "80",
                        "isMandatory": false
                    }
                ],
                "nr_flow": [{
                        "id": "f911ca8c.e77648",
                        "type": "ui_switch",
                        "z": "b84992b3.baff4",
                        "name": "TV",
                        "label": "TV",
                        "tooltip": "",
                        "group": "ede85c6b.8e1aa",
                        "order": 2,
                        "width": 0,
                        "height": 0,
                        "passthru": true,
                        "decouple": "false",
                        "topic": "tv",
                        "style": "",
                        "onvalue": "true",
                        "onvalueType": "bool",
                        "onicon": "",
                        "oncolor": "",
                        "offvalue": "false",
                        "offvalueType": "bool",
                        "officon": "",
                        "offcolor": "",
                        "x": 230,
                        "y": 120,
                        "wires": [["fc0533bc.0f7af"]]
                    }, {
                        "id": "88a554ac.609f48",
                        "type": "ui_switch",
                        "z": "b84992b3.baff4",
                        "name": "Presence",
                        "label": "Presence",
                        "tooltip": "",
                        "group": "ede85c6b.8e1aa",
                        "order": 3,
                        "width": 0,
                        "height": 0,
                        "passthru": true,
                        "decouple": "false",
                        "topic": "presence",
                        "style": "",
                        "onvalue": "true",
                        "onvalueType": "bool",
                        "onicon": "",
                        "oncolor": "",
                        "offvalue": "false",
                        "offvalueType": "bool",
                        "officon": "",
                        "offcolor": "",
                        "x": 240,
                        "y": 60,
                        "wires": [["24af6f52.e670a", "c2c6d858.a0ef48"]]
                    }, {
                        "id": "c2c6d858.a0ef48",
                        "type": "BooleanLogic",
                        "z": "b84992b3.baff4",
                        "name": "",
                        "operation": "AND",
                        "inputCount": 2,
                        "topic": "result",
                        "x": 580,
                        "y": 120,
                        "wires": [["5a2f9c4.789e764"]]
                    }, {
                        "id": "fc0533bc.0f7af",
                        "type": "Invert",
                        "z": "b84992b3.baff4",
                        "name": "Invert",
                        "x": 370,
                        "y": 120,
                        "wires": [["c2c6d858.a0ef48"]]
                    }, {
                        "id": "24af6f52.e670a",
                        "type": "ui_switch",
                        "z": "b84992b3.baff4",
                        "name": "Light1",
                        "label": "Light1",
                        "tooltip": "",
                        "group": "16c7e162.72a567",
                        "order": 2,
                        "width": 0,
                        "height": 0,
                        "passthru": true,
                        "decouple": "false",
                        "topic": "",
                        "style": "",
                        "onvalue": "true",
                        "onvalueType": "bool",
                        "onicon": "",
                        "oncolor": "",
                        "offvalue": "false",
                        "offvalueType": "bool",
                        "officon": "",
                        "offcolor": "",
                        "x": 730,
                        "y": 60,
                        "wires": [[]]
                    }, {
                        "id": "5a2f9c4.789e764",
                        "type": "ui_switch",
                        "z": "b84992b3.baff4",
                        "name": "Light2",
                        "label": "Light2",
                        "tooltip": "",
                        "group": "16c7e162.72a567",
                        "order": 2,
                        "width": 0,
                        "height": 0,
                        "passthru": true,
                        "decouple": "false",
                        "topic": "",
                        "style": "",
                        "onvalue": "true",
                        "onvalueType": "bool",
                        "onicon": "",
                        "oncolor": "",
                        "offvalue": "false",
                        "offvalueType": "bool",
                        "officon": "",
                        "offcolor": "",
                        "x": 730,
                        "y": 120,
                        "wires": [[]]
                    }, {
                        "id": "173cf7c8.b355f8",
                        "type": "inject",
                        "z": "b84992b3.baff4",
                        "name": "",
                        "topic": "",
                        "payload": "true",
                        "payloadType": "bool",
                        "repeat": "1",
                        "crontab": "",
                        "once": false,
                        "onceDelay": 0.1,
                        "x": 90,
                        "y": 60,
                        "wires": [["88a554ac.609f48"]]
                    }, {
                        "id": "32ab163b.7c889a",
                        "type": "inject",
                        "z": "b84992b3.baff4",
                        "name": "",
                        "topic": "",
                        "payload": "true",
                        "payloadType": "bool",
                        "repeat": "1",
                        "crontab": "",
                        "once": false,
                        "onceDelay": 0.1,
                        "x": 90,
                        "y": 120,
                        "wires": [["f911ca8c.e77648"]]
                    }, {
                        "id": "ede85c6b.8e1aa",
                        "type": "ui_group",
                        "z": "",
                        "name": "ACM",
                        "tab": "35d100f8.e1eee8",
                        "disp": true,
                        "width": "6",
                        "collapse": false
                    }, {
                        "id": "16c7e162.72a567",
                        "type": "ui_group",
                        "z": "",
                        "name": "Monitor",
                        "tab": "35d100f8.e1eee8",
                        "order": 2,
                        "disp": true,
                        "width": "6",
                        "collapse": false
                    }, {
                        "id": "35d100f8.e1eee8",
                        "type": "ui_tab",
                        "z": "",
                        "name": "Living Room",
                        "icon": "dashboard",
                        "order": 1,
                        "disabled": false,
                        "hidden": false
                    }
                ],
                "path_flow": "",
                "packages": ["node-red-contrib-boolean-logic", "node-red-dashboard"],
                "_runtime": {
                    "Status": "running",
                    "id": "fe3cd7b9666c3b9dc5d8654513f6d16a9aed82e318080682aef641c8470535be"
                },
                "container_id": "fe3cd7b9666c3b9dc5d8654513f6d16a9aed82e318080682aef641c8470535be"
            }, {
                "_type": "/infra/docker_host",
                "name": "My-Machine",
                "properties": [],
                "id": "ac06417b-2faa-4279-a40d-3b28ffc6136b",
                "provided_execution_port": [{
                        "name": "offerDocker"
                    }
                ],
                "ip": "192.168.99.100",
                "port": ["2376"],
                "credentials": {
                    "username": "ubuntu",
                    "password": "ubuntu",
                    "sshkey": ""
                },
                "monitoring_agent": "none",
                "_runtime": {
                    "Status": "config"
                }
            }
        ],
        "links": [],
        "containments": [{
                "name": "Docker_on_MyMachine",
                "properties": [],
                "src": "/My-Machine/offerDocker",
                "target": "/Node-RED/demandDocker"
            }
        ],
        "type_registry": []
    },
    "graph": {
        "elements": {
            "nodes": [{
                    "data": {
                        "id": "My-Machine"
                    },
                    "position": {
                        "x": 207,
                        "y": 171
                    },
                    "group": "nodes",
                    "removed": false,
                    "selected": false,
                    "selectable": true,
                    "locked": false,
                    "grabbable": true,
                    "classes": "container"
                }, {
                    "data": {
                        "id": "Node-RED",
                        "parent": "My-Machine"
                    },
                    "position": {
                        "x": 207,
                        "y": 171
                    },
                    "group": "nodes",
                    "removed": false,
                    "selected": false,
                    "selectable": true,
                    "locked": false,
                    "grabbable": true,
                    "classes": "node_red"
                }
            ]
        },
        "style": [{
                "selector": "node",
                "style": {
                    "label": "data(id)",
                    "background-fit": "contain",
                    "background-image-opacity": "0.3",
                    "text-valign": "center",
                    "text-halign": "center",
                    "font-size": "4px",
                    "font-weight": "bold"
                }
            }, {
                "selector": "node.container",
                "style": {
                    "padding": "10px",
                    "text-valign": "top",
                    "text-halign": "center",
                    "background-color": "#DDD",
                    "font-size": "8px",
                    "font-weight": "normal",
                    "shape": "rectangle",
                    "background-image": "./img/docker-official.svg"
                }
            }, {
                "selector": "edge",
                "style": {
                    "curve-style": "bezier",
                    "target-arrow-shape": "triangle"
                }
            }, {
                "selector": "edge.control",
                "style": {
                    "curve-style": "bezier",
                    "target-arrow-shape": "circle"
                }
            }, {
                "selector": ":selected",
                "style": {
                    "background-color": "black",
                    "line-color": "black",
                    "target-arrow-color": "black",
                    "source-arrow-color": "black"
                }
            }, {
                "selector": "node.questionable",
                "style": {
                    "border-color": "#A33",
                    "background-color": "#B55",
                    "shape": "roundrectangle"
                }
            }, {
                "selector": "node.node_red",
                "style": {
                    "background-image": "./img/node-red-256.png"
                }
            }, {
                "selector": "node.ansible",
                "style": {
                    "background-image": "./img/ansible.png"
                }
            }, {
                "selector": "node.orion",
                "style": {
                    "background-color": "#ADD8E6",
                    "background-image": "./img/fiware_logo.png"
                }
            }, {
                "selector": "node.thingml",
                "style": {
                    "background-color": "#ADD8E6",
                    "background-image": "./img/thingml_short.png"
                }
            }, {
                "selector": "node.device",
                "style": {
                    "padding": "10px",
                    "text-valign": "top",
                    "text-halign": "center",
                    "background-color": "#DDD",
                    "font-size": "8px",
                    "font-weight": "normal",
                    "shape": "rectangle",
                    "background-image": "./img/device.png"
                }
            }, {
                "selector": "node.vm",
                "style": {
                    "padding": "10px",
                    "text-valign": "top",
                    "text-halign": "center",
                    "background-color": "#DDD",
                    "font-size": "8px",
                    "font-weight": "normal",
                    "shape": "rectangle",
                    "background-image": "./img/server_cloud.png"
                }
            }
        ],
        "zoomingEnabled": true,
        "userZoomingEnabled": true,
        "zoom": 6,
        "minZoom": 0.4,
        "maxZoom": 6,
        "panningEnabled": true,
        "userPanningEnabled": true,
        "pan": {
            "x": -895.0426483154297,
            "y": -800.0852584838867
        },
        "boxSelectionEnabled": false,
        "renderer": {
            "name": "canvas"
        }
    }
}
